/* styles .css*/
html,
body {
  height: 100%;
}

img {
    max-width: 100%;
}

h3 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 40px;
}

.subcategory {
  color: #292b2c;
}

.second {
  font-weight: lighter;
  font-style: italic;
}
/*cover*/

/*#cover {
    background-image: url("img/stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#cover-caption {
  height: 100%;
}*/
.carousel-item img{
  height: 100vh;
  margin: 0 auto;
}

.carousel-caption {
  background-color: rgba(102, 102, 106, 0.70);
  color: white;
  text-shadow: 1px 1px #130202;
  margin: 0 auto;
}

.section-content {
  padding: 5vw 0;
}

/*.navbar {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
}*/
.navbar {
  margin-top: 2rem;
}

.navbar-brand {
  font-family: 'Mr Dafoe', cursive;
  font-size: 30px;
  color: white;
}

.navbar-link {
  color: white;
}

.container {
  margin-top: .5rem;
}

#about {
  background: url("img/TJ1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin-bottom: -13.5vh;
  overflow: scroll;
}

.about-text .passion {
  font-weight: lighter;
}

#carousel {
  border-bottom: 5px solid rgba(102, 102, 106, 0.75);
  margin: auto;
  padding: auto;
  background-color: rgba(177, 181, 180, 0.96);
}

#carousel-home li:active {
  background-color: blue;
}

.about-text {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1.875rem;
}

#news {
  background-image: url('img/NewHaven2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-columns {
  margin-bottom: -5rem;
}

#footer-main {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}

.email {
  font-size: 15px;
  word-wrap: break-word;
}

.tj2 {
  opacity: .85;
}

.fixed {
	position: fixed;
	top: 0;
	/*height: 70px;
	z-index: 1;*/
}


.affix {
      top: 0;
      width: 100%;
  }

.affix + .container {
      padding-top: 70px;
  }

.webDzyn {
  width: 25vw;
}

.webDzyn2 {
  width: 27vw;
}
/*// MEDIA QUERIES*/
@media only screen and (max-width: 500px) {

  .w-100{
    height: 65vh !important;
  }
  .carousel-caption {
    background-color: transparent !important;
    /*font-style: hidden !important;*/
  }
  .webDzyn {
    height: 60vh !important;
    width: 50vw !important;
  }
  .webDzyn2 {
    height: 60vh !important;
    width: 50vw !important;
  }
  .webDzyn3 {
    height: 60vh !important;
    width: 40vw !important;
  }
  /*.carousel-item:hover {
    font-color: rgb(62, 62, 62);
  }*/
  /*.heightFix {
      height: 80vh;
  }

  #about {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin-bottom: -10vh;
  }*/
}
