/* styles .css*/
html,
body {
  height: 100%;
}

img {
    max-width: 100%;
}

/*cover*/

#cover {
    background-image: url("img/stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#cover-caption {
  height: 100%;
}


.carousel-item img{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: grey;
  border-bottom: 5px solid grey;
}

.carousel-caption {
  background-color: rgba(102, 102, 106, 0.75);
  color: white;
  text-shadow: 1px 1px #130202;
  margin: 0 auto;
}

.section-content {
  padding: 5rem 0;
}

#about {
  background: url("img/TJ1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

#carousel-home li:active {
  background-color: blue;
}

.about-text {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1.875rem;
}

#footer-main {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}
