/* styles .css*/
html,
body {
  height: 100%;
}

img {
    max-width: 100%;
}

/*cover*/

#cover {
    background-image: url("img/stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#cover-caption {
  height: 100%;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
}

/*Fix boostrap menu to flex*/
.nav li {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}
